/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-dark.png);
  --header-and-footer-color: #DB00FF;
  --accent-color: #FF0070;
  --dark-text: #000028;
  --main-margin: 10px;
  --main-text: #F1B2CE;
  --main-title: #FF0070;
  --button-color: #FF0070;
  --REC-color:#FF0070;
  --corners-color: #FF0070;
  --button-color-hover: rgba(255, 0, 111, 0.6);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-image: url(../images/cover-image-dark.png);
    --header-and-footer-color: #DB00FF;
    --accent-color: #FF0070;
    --dark-text: #000028;
    --main-margin: 10px;
    --main-text: #F1B2CE;
    --main-title: #FF0070;
    --button-color: #FF0070;
    --REC-color:  #FF0070;
    --corners-color: #FF0070;
    --button-color-hover: rgba(255, 0, 111, 0.6);
  }
}
